* {
  margin: 25px;
  padding: 0;
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 24px;
  color: yellow;
  margin: 50px;
  padding: 8px;
  text-align: center;
  background-color: black;
}

h2 {
  font-size: 20px;
  text-align: center;
  background-color: yellow;
}

body {
  background-image: url("Banana\ Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  margin: auto;
  padding: 0px;
  line-height: 2;
  width: 50%;
}

nav {
  margin: auto;
  padding: 0px;
  line-height: 2;
  width: 50%;
  color: black;
}

img {
  width: 500px;
  height: 350px;
}

footer {
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
}
